//colors
$overlay_bg: rgba(255, 255, 255, .7); // white.7
$settings_bg: #fff;
$site_bg: #D0D0D0;
$black_16: rgba(0, 0, 0, .16);
$persian_red: #d32f2f;
$tory_blue: #0d47a1;
$goblin: #388e3c;
$fuchsia_pink: #ab47bc;
$violet_red: #ec407a;
$cerulean: #03a9f4;
$button_bg: #3cd6d6;

@mixin userSelect($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: roboto, sans-serif;
  background-color: $site_bg;
  color: #fff;
}

button {
  background: $button_bg;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  min-width: 60px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }
}

.icon {
  background: url("../images/icons/icon.png") no-repeat;
  display: inline-block;
  height: 48px;
  width: 48px;

  &.menu {
    background-position: -2px -2px;
  }

  &.redo {
    background-position: -152px -2px;
  }

  &.undo {
    background-position: -102px -2px;
  }

  &.delete {
    background-position: -202px -2px;
    float: right;
  }

  &.close {
    height: 20px;
    position: absolute;
    width: 20px;
    top: 5px;
    left: 5px;
    background: red;
    border-radius: 50%;
  }
}

.tooltip, .toast {
  background: rgba(0, 0, 0, 0.54);
  display: inline-block;
  height: 20px;
  padding: 5px;
  position: absolute;
  color: #fff;
  z-index: 100;
  overflow: hidden;
  pointer-events: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.overlay {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: calc(100% - 48px);
  background: rgba(255, 255, 255, .8);

  &::before {
    width: 0;
    height: 100%;
    content: '';
    display: inline-block;
    vertical-align: middle;
  }
  &.jq-show {
    display: inline-block;
    text-align: center;
  }
  &.hide {
    display: none;
  }
}

.dialog {
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  height: 220px;
  background: white;
  color: black;
  box-shadow: 0 1px 10px;
  border-radius: 8px;

  .title {
    text-align: center;
  }
  header {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #cdcdcd;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  }
  strong {
    padding: 5px;
  }
  footer {
    text-align: right;
    margin: 5px;
  }
  .dialog-content {
    padding: 10px;
  }
}

label {
  $padding: 10px;
  $distance: 10px;
  $labelWidth: 120px;

  display: block;
  padding: 0 $padding;
  white-space: nowrap;

  strong {
    display: inline-block;
    text-align: right;
    width: $labelWidth;
  }
  input {
    width: 50px;
  }

  > :not(:first-child) {
    margin-left: $distance;
  }

  input {
    &[type="text"] {
      width: calc(100% - #{$padding + $labelWidth + $distance});
    }
  }
}
