$color_jacarta_approx: #413663;
$white: #fff;
$color_anakiwa_approx: #9fddff;
$color_silver_22_approx: rgba(191, 191, 191, 0.22);
$black_16: rgba(0, 0, 0, 0.16);
$black_23: rgba(0, 0, 0, 0.23);
$color_turquoise_approx: #3cd6d6;

$icon: url(../images/icons/icon.png);

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: roboto, sans-serif;
  background-color: $color_jacarta_approx;
  color: $white;
}

.icon {
  height: 48px;
  width: 48px;
  background-image: $icon;
  display: inline-block;
}

.generate_game {
  background: $color_turquoise_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 100%;
  height: 60px;
  width: 60px;
  display: block;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 3px 6px $black_16, 0 3px 6px $black_23;
}