@import "common";

.lines_game {
  display: inline-block;

  .menu_button {
    background-position: -2px -2px;
    &.open {
      background-position: -52px -2px;
    }
  }

  .undo {
    background-position: -102px -2px;
  }

  .redo {
    background-position: -152px -2px;
  }

  .score {
    line-height: 48px;
    margin: 0;
    vertical-align: top;
    display: inline-block;
  }

  $ball_colors: (
          red: #d32f2f,
          blue: #0d47a1,
          pink: #ab47bc,
          green: #388e3c,
          purple: #ec407a,
          yellow: #ffff00,
          cyan: #03a9f4
  );
  @each $color, $value in $ball_colors {
    .#{$color}::after {
      background: $value;
    }
  }

  .settings {
    width: 200px;
    display: none;
    position: absolute;
    top: 100px;
    background-color: $color_anakiwa_approx;
  }

  input[type="button"] {
    height: 50px;
    width: 200px;
  }

  strong {
    text-align: left;
  }

  label {
    line-height: 2;
    text-align: right;
  }

  table {
    border-collapse: collapse;
    background: $color_silver_22_approx;
  }

  td {
    height: 50px;
    width: 50px;
    border: 3px solid $color_jacarta_approx;
    &[class]::after {
      content: '';
      height: 45px;
      width: 45px;
      margin: auto;
      display: block;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 100%;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 3px 6px $black_16, 0 3px 6px $black_23;
    }
  }

  .selected {
    opacity: .5;
  }

  input:not([type="button"]) {
    width: 42px;
  }
}