@import "common";

.games-feed {
  text-align: center;
  white-space: nowrap;

  > :not(:first-child) {
    margin-left: 10px;
  }
}

.game {
  $header: 48px;

  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: left;
  margin: 10px;
  @include userSelect(none);

  > header {
    box-shadow: 0 1px 16px 0 #7B7B7B;
    height: $header;
    padding: 0 10px;
    position: relative;
    text-align: center;

    > * {
      vertical-align: middle;
    }
    .menu {
      float: left;
    }
  }

  .controls {
    display: inline-block;
    height: $header;
    line-height: $header;

    > * {
      vertical-align: middle;
    }
    [disable] {
      opacity: .5;
    }
  }

  .score {
    display: inline-block;
    margin: 0;
    min-width: 60px;
    text-align: center;
  }

  .settings {
    background: $settings_bg;
    bottom: 0;
    box-shadow: 0 0 10px;
    color: black;
    height: 200px;
    left: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
    border-radius: 4px;
  }

  .settings-container {
    background: $overlay_bg;
    display: none;
    height: calc(100% - #{$header});
    left: 0;
    position: absolute;
    top: $header;
    width: 100%;

    &::before {
      color: black;
      content: 'Game Over';
      display: none;
      font-size: 24px;
      font-weight: bold;
      left: 0;
      right: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &.open {
    .icon.menu {
      background-position: -52px -2px;
    }

    .settings-container {
      display: block;
    }
  }

  &.game-over {
    .settings-container {
      display: block;

      &::before {
        display: block;
      }
    }
  }
}

.lines-game {
  box-shadow: 0 1px 16px 0 #9A9797;
  border-radius: 8px;
  .dashboard {
    border-collapse: collapse;
    background: white;
  }

  td {
    height: 52px;
    width: 52px;
    border: 1px solid #ABABAB;
  }

  $themes: (
          red:#F44336,
          pink:#E91E63,
          purple:#9C27B0,
          deep-purple:#673AB7,
          indigo:#3F51B5,
          blue:#2196F3,
          light-blue:#03A9F4,
          cyan:#00BCD4,
          teal:#009688,
          green:#4CAF50,
          light-green:#8BC34A,
          lime:#CDDC39,
          yellow:#FFEB3B,
          amber:#FFC107,
          orange:#FF9800,
          deep-orange:#FF5722,
          brown:#795548,
          grey:#9E9E9E,
          blue-grey:#607D8B
  );

  @each $color, $value in $themes {
    &.#{$color} {
      background: $value;
    }
  }

  .ball {
    $colors: (
            red: $persian_red,
            blue: $tory_blue,
            green: $goblin,
            purple: $fuchsia_pink,
            pink: $violet_red,
            cyan: $cerulean,
            yellow: #ffb200
    );

    &::after {
      border-radius: 100%;
      box-shadow: 0 2px 8px -3px #232323;
      content: '';
      display: block;
      height: 45px;
      margin: auto;
      width: 45px;
    }

    @each $color, $value in $colors {
      &.#{$color} {
        &::after {
          background: $value;
        }
      }
    }

    &.selected {
      &::after {
        animation: bitrate .3s infinite ease;
      }
    }
  }
}

// todo inheritance
.generate-game {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 3px 6px $black_16;

  @include userSelect(none);
}

@keyframes bitrate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}