@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: roboto, sans-serif;
    background-color: rgb(74, 112, 175);
    color: #fff;
}

.settings {
    width: 200px;
    display: inline-block;
    margin: auto;
    background-color: #9fddff;
}

input[type="button"] {
    height: 50px;
    width: 200px;
}

input:not([type="button"]) {
    width: 42px;
}

strong {
    text-align: left;
}

label {
    line-height: 2;
    text-align: right;
}

table {
    border-collapse: collapse;
    background: grey;
    display: inline-block;
    margin: auto;
}

td {
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
}

.game {
    display: inline-block;
    position: static;
}

.settings {
    margin: auto;
}

.dashboard {
    margin: auto;
}

.red {
    background: url(../images/red.png) no-repeat 0 0 / cover;
}

.blue {
    background: url(../images/blue.png) no-repeat 0 0 / cover;
}

.green {
    background: url(../images/green.png) no-repeat 0 0 / cover;
}

.purple {
    background: url(../images/purple.png) no-repeat 0 0 / cover;
}

.pink {
    background: url(../images/pink.png) no-repeat 0 0 / cover;
}

.cyan {
    background: url(../images/cyan.png) no-repeat 0 0 / cover;
}

.yellow {
    background: url(../images/yellow.png) no-repeat 0 0 / cover;
}

.selected {
    opacity: 0.5;
}