@import url(https://fonts.googleapis.com/css?family=Roboto);
body { font-family: roboto, sans-serif; background-color: #413663; color: #fff; }

button { height: 50px; width: 200px; }

input { width: 42px; }

.lines_game { display: inline-block; }
.lines_game .game_area { display: inline-block; position: relative; }
.lines_game .settings_container { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.lines_game .settings { width: 200px; height: 200px; background-color: #9fddff; }
.lines_game table { border-collapse: collapse; background: rgba(191, 191, 191, 0.22); }
.lines_game strong { text-align: left; }
.lines_game label { line-height: 2; text-align: right; }
.lines_game td { height: 50px; width: 50px; border: 3px solid #413663; }
.lines_game td[class]::after { content: ''; height: 45px; width: 45px; margin: auto; display: block; border-radius: 100%; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
.lines_game .red::after { background: #d32f2f; }
.lines_game .blue::after { background: #0d47a1; }
.lines_game .green::after { background: #388e3c; }
.lines_game .purple::after { background: #ab47bc; }
.lines_game .pink::after { background: #ec407a; }
.lines_game .cyan::after { background: #03a9f4; }
.lines_game .yellow::after { background: #ffff00; }
.lines_game .selected { opacity: .5; }
.lines_game.open_settings .menu_button { background: url(../images/back.png) 0 0/cover; }
.lines_game.open_settings .settings { display: block; }

.menu_button { background: url(../images/menu.png) 0 0/cover; height: 36px; width: 36px; }

.generate_game { background: #3cd6d6; border-radius: 100%; height: 60px; width: 60px; display: block; font-size: 36px; line-height: 60px; text-align: center; position: absolute; right: 20px; bottom: 20px; cursor: pointer; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.redo { background: url(../images/redo.png) 0 0/cover; height: 36px; width: 36px; display: inline-block; }

.undo { background: url(../images/undo.png) 0 0/cover; height: 36px; width: 36px; display: inline-block; }
