
<div class="lines_game">
    <header>
        <div class="menu_button"></div>
        <div class="undo"></div>
        <h2 class="score">0</h2>
        <div class="redo"></div>
    </header>
    <div class="game_area">
        <div class="settings_container">
            <div class="settings">
                <label>
                    <strong>Dashboard size:</strong>
                    <input type="number" class="size" min="5" max="10" value="9"/>
                </label>
                <label>
                    <strong>Balls count:</strong>
                    <input type="number" class="balls_count" min="3" max="7" value="3"/>
                </label>
                <label>
                    <strong>Allow repeating:</strong>
                    <input type="checkbox" class="repeat" checked="checked"/>
                </label>
                <label>
                    <strong>Removing count:</strong>
                    <input type="number" class="removing_count" min="3" max="5" value="3"/>
                </label>
                <button class="new_game">New Game</button>
            </div>
        </div>
        <table class="dashboard"></table>
    </div>
</div>